
<%- include("partial/header.ejs") %>
<div class="container p-5">
    <div class="title">
        <h1 style="color: #c19f66;"><%= post.title %></h1>
    </div>
    <div class="content pt-3">
        <p><%= post.content %></p>
    </div>
    <a href="/">Back to Home</a>
</div>